section
    .content__section.pt-6.pb-6
        .wrapper-inner
            .content__container__header.mb-5
                .content__container__header__left
                    h2 Документы
                .content__container__header__right
            .content__container
                .content__container__content
                    .docblock__list
                        .docblock__item.pb-4
                            h3.docblock__title.h3.mb-2.link--collapse.link--collapse--bold#nav-item-1(data-toggle='collapse' href='#collapseContacts01' aria-expanded='false' aria-controls='collapseContacts01') Категория 1 (Отчеты о собраниях собственников) пр. Космонавтов, д.65, корп.6, лит. А
                            .docblock__content.collapse#collapseContacts01
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-11(data-toggle='collapse' href='#collapseContacts1' aria-expanded='false' aria-controls='collapseContacts1') Категория 1 (Отчеты о собраниях собственников)
                                #collapseContacts1.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-12(data-toggle='collapse' href='#collapseContacts2' aria-expanded='false' aria-controls='collapseContacts2') Категория 2 (***)
                                #collapseContacts2.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-13(data-toggle='collapse' href='#collapseContacts3' aria-expanded='false' aria-controls='collapseContacts3') Категория 2 (***)
                                #collapseContacts3.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                        .docblock__item.pb-4
                            h3.docblock__title.h3.mb-2.link--collapse.link--collapse--bold#nav-item-2(data-toggle='collapse' href='#collapseContacts02' aria-expanded='false' aria-controls='collapseContacts02') Категория 1 (Отчеты о собраниях собственников) пр. Космонавтов, д.65, корп.11, лит. А
                            .docblock__content.collapse#collapseContacts02
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-21(data-toggle='collapse' href='#collapseContacts4' aria-expanded='false' aria-controls='collapseContacts4') Категория 1 (Отчеты о собраниях собственников)
                                #collapseContacts4.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-22(data-toggle='collapse' href='#collapseContacts5' aria-expanded='false' aria-controls='collapseContacts5') Категория 2 (***)
                                #collapseContacts5.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-23(data-toggle='collapse' href='#collapseContacts6' aria-expanded='false' aria-controls='collapseContacts6') Категория 2 (***)
                                #collapseContacts6.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-24(data-toggle='collapse' href='#collapseContacts7' aria-expanded='false' aria-controls='collapseContacts7') Категория 1 (Отчеты о собраниях собственников)
                                #collapseContacts7.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-25(data-toggle='collapse' href='#collapseContacts10' aria-expanded='false' aria-controls='collapseContacts10') Категория 1 (Отчеты о собраниях собственников)
                                #collapseContacts10.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-26(data-toggle='collapse' href='#collapseContacts11' aria-expanded='false' aria-controls='collapseContacts11') Категория 2 (***)
                                #collapseContacts11.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-27(data-toggle='collapse' href='#collapseContacts12' aria-expanded='false' aria-controls='collapseContacts12') Категория 2 (***)
                                #collapseContacts12.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-28(data-toggle='collapse' href='#collapseContacts13' aria-expanded='false' aria-controls='collapseContacts13') Категория 1 (Отчеты о собраниях собственников)
                                #collapseContacts13.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                        .docblock__item.pb-4
                            h3.docblock__title.h3.mb-2.link--collapse.link--collapse--bold#nav-item-3(data-toggle='collapse' href='#collapseContacts03' aria-expanded='false' aria-controls='collapseContacts03') Полезные документы
                            .docblock__content.collapse#collapseContacts03
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-31(data-toggle='collapse' href='#collapseContacts8' aria-expanded='false' aria-controls='collapseContacts8') Категория 1 (Отчеты о собраниях собственников)
                                #collapseContacts8.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug
                                a.pt-2.pb-2.d-block.link--collapse.link--collapse--light#nav-item-32(data-toggle='collapse' href='#collapseContacts9' aria-expanded='false' aria-controls='collapseContacts9') Категория 2 (***)
                                #collapseContacts9.collapse.contacts__collapse.contacts__collapse--light
                                    include ../_docblock-docs-headers.pug

                .content__container__sidebar
                    .content__container__sidebar--fixed
                        #nav-content.nav-content
                            a.list-group-item.mb-0(href='#nav-item-1') пр. Космонавтов, д.65, корп.6, лит. А
                            a.list-group-item.mb-0(href='#nav-item-2') пр. Космонавтов, д.65, корп.11, лит. А
                            a.list-group-item.mb-0(href='#nav-item-3') Полезные документы
