
.object__item__content
    a.object__item__title.p--bold(href="objects-single.html") Кузнечное, 10
    p.p3.p3--bold Московский район
    p.p3.color--gray--middle.mt-1.mb-0 пр. Космонавтов, д.65, корп.6, лит. А
    p.p3.color--gray--middle.mt-1.mb-0 пр. Космонавтов, д.65, корп.11, лит. А
    p.p3.color--gray--middle.mt-1.mb-0 пр. Космонавтов, д.65, корп.12, лит. А
    a.document__link__all.mb-1.mt-2.collapse--objects(data-toggle='collapse' href='#collapseObject3' aria-expanded='false' aria-controls='collapseObject3') Все дома
    #collapseObject3.collapse.docblock__content__all
        p.p3.color--gray--middle.mt-1.mb-0 ул. Богословская, д.4, корп.1
        p.p3.color--gray--middle.mt-1.mb-0 Смоленская ул., дом 14
        p.p3.color--gray--middle.mt-1.mb-0 ул. Богословская, д.4, корп.1
        p.p3.color--gray--middle.mt-1.mb-0 Смоленская ул., дом 14
        p.p3.color--gray--middle.mt-1.mb-0 ул. Богословская, д.4, корп.1
        p.p3.color--gray--middle.mt-1.mb-0 Смоленская ул., дом 14


