
.object__item__content
    a.object__item__title.p--bold(href="objects-single.html") ЖК «Богемия»
    p.p3.p3--bold Адмиралтейский район
    p.p3.color--gray--middle.mt-1.mb-0 пр. Космонавтов, д.65, корп.6, лит. А
    p.p3.color--gray--middle.mt-1.mb-0 пр. Космонавтов, д.65, корп.11, лит. А
