.row.mx-auto.contacts__row.pt-3.pb-3
    .col-sm-5.mb-3.p-0
        p.p2.p2--bold.mb-1 Диспетчер
    .col-sm-6.offset-sm-1.p-0
        p.p3.p3--bold.mb-0 Для связи
        p.p3.mb-0.color--gray--middle
            a(href="#") 677-54-83
        p.p3.mb-0.color--gray--middle
            a(href="#") +7-921-855-24-86
.row.mx-auto.contacts__row.pt-3.pb-3
    .col-sm-5.mb-3.p-0
        p.p2.p2--bold.mb-1 Управляющий
        p.p2.mb-0 Хозяшова Евгения Евгеньевна
    .col-sm-6.offset-sm-1.p-0
        p.p3.p3--bold.mb-0  Адрес офиса
        p.p3.mb-0.color--gray--middle ул. Дыбенко, д.6, корп.2
        p.p3.p3--bold.mb-0.mt-2 Часы приема
        p.p3.mb-0.color--gray--middle Пн-Чт., с 9:00 до 16:00
        p.p3.mb-0.color--gray--middle Пт, с 10:00 до 16:00
        p.p3.mb-0.color--gray--middle Сб-Вс, Выходной
.row.mx-auto.contacts__row.pt-3.pb-3
    .col-sm-5.mb-3.p-0
        p.p2.p2--bold.mb-1 Бухгалтер
        p.p2.mb-0 Ответы по телефону
    .col-sm-6.offset-sm-1.p-0
        p.p3.p3--bold.mb-0  Адрес офиса
        p.p3.mb-0.color--gray--middle ул. Дыбенко, д.6, корп.2
        p.p3.p3--bold.mb-0.mt-2 Часы приема
        p.p3.mb-0.color--gray--middle Пн-Чт., с 9:00 до 16:00
        p.p3.mb-0.color--gray--middle Пт, с 10:00 до 16:00
        p.p3.mb-0.color--gray--middle Сб-Вс, Выходной
.row.mx-auto.contacts__row.pt-3.pb-3
    .col-sm-5.mb-3.p-0
        p.p2.p2--bold.mb-1 Сантехник
        p.p2.mb-0 Цицишвили Алексей Александрович
    .col-sm-6.offset-sm-1.p-0
        p.p3.p3--bold.mb-0  Адрес офиса
        p.p3.mb-0.color--gray--middle ул. Дыбенко, д.6, корп.2
        p.p3.p3--bold.mb-0.mt-2 Часы приема
        p.p3.mb-0.color--gray--middle Пн-Чт., с 9:00 до 16:00
        p.p3.mb-0.color--gray--middle Пт, с 10:00 до 16:00
        p.p3.mb-0.color--gray--middle Сб-Вс, Выходной