
.row.mx-auto.contacts__row.pt-3.pb-3
    .col-sm-2.mb-3.p-0
        p.p2.p2--bold.mb-1 2020
    .col-sm-9.offset-sm-1.p-0
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
    .col-sm-2.mb-3.p-0
        p.p2.p2--bold.mb-1 2019
    .col-sm-9.offset-sm-1.p-0
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
    .col-sm-2.mb-3.p-0
        p.p2.p2--bold.mb-1 2018
    .col-sm-9.offset-sm-1.p-0
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
        p.p3.mb-1.color--gray--middle
            a(href="#") Информация об управляющей организации, товариществе, кооперативе
