.document.mb-4
    a.document__title.p2(href="#") Информация об управляющей организации, товариществе, кооперативе
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ
.document.mb-4
    a.document__title.p2(href="#") Общая информация об управляющей организации, товариществе, кооперативе
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ