.document.mb-4
    a.document__title.p2(href="#") Информация об управляющей организации, товариществе, кооперативе
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ
.document.mb-4
    a.document__title.p2(href="#") Общая информация об управляющей организации, товариществе, кооперативе
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ
.document.mb-4
    a.document__title.p2(href="#") Сведения об основных показателях финансово-хозяйственной деятельности управляющей организации, товарищества, кооператива
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ
.document.mb-4
    a.document__title.p2(href="#") Информация об управляющей организации, товариществе, кооперативе
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ
.document.mb-4
    a.document__title.p2(href="#") Информация об управляющей организации, товариществе, кооперативе
    .document__content.mt-2
        .label PDF
        a.document__link(href="#") Скачать документ


a.document__link__all.mb-4(data-toggle='collapse' href='#collapseDoc2' aria-expanded='false' aria-controls='collapseDoc2') Показать все документы
#collapseDoc2.collapse.docblock__content__all
    .document.mb-4
        a.document__title.p2(href="#") Тарифы на коммунальные услуги
        .document__content.mt-2
            .label PDF
            a.document__link(href="#") Скачать документ
    .document.mb-4
        a.document__title.p2(href="#") Тарифы на коммунальные услуги. Холодное водоснабжение
        .document__content.mt-2
            .label PDF
            a.document__link(href="#") Скачать документ
    .document.mb-4
        a.document__title.p2(href="#") Тарифы на коммунальные услуги
        .document__content.mt-2
            .label PDF
            a.document__link(href="#") Скачать документ
    .document.mb-4
        a.document__title.p2(href="#") Тарифы на коммунальные услуги. Холодное водоснабжение
        .document__content.mt-2
            .label PDF
            a.document__link(href="#") Скачать документ
