footer.footer.pt-6.pb-6
    .wrapper-inner

        .footer__top
            .footer__top__left
                .footer__top__left__text Аварийно-диспетчерская служба
                .footer__top__left__text--main <a href="tel:3317502">331-75-02</a>, круглосуточно
            .footer__top__right
                a(href="#").icon-social.icon-social--vk


        .footer__separate

        .footer__middle
            .footer__menu__block
                .footer__header(data-target="#collapseOne" data-toggle="collapse" aria-expanded="true") О компании
                    .footer__header__toggle
                .footer__link__list.collapse.show#collapseOne
                    .footer__item
                        a.footer__link(href="about-history.html") История компании
                    .footer__item
                        a.footer__link(href="news.html") Новости
                    .footer__item
                        a.footer__link(href="about-info.html") Раскрытие информации
                    .footer__item
                        a.footer__link(href="manuals.html") База знаний

            .footer__menu__block
                .footer__header(data-target="#collapseTwo" data-toggle="collapse" aria-expanded="true") Объекты
                    .footer__header__toggle
                .footer__link__list.collapse.show.footer__content__block.content--hide#collapseTwo
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Антей»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК«Богемия»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК«Вива»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Восток»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп»
                    .footer__item
                        a.footer__link(href="objects-single.html") ЖК «Калейдоскоп
                .footer__content__toggle(data-content="#collapseTwo") Показать все

            .footer__menu__block
                .footer__header(data-target="#collapseThree" data-toggle="collapse" aria-expanded="true") Услуги
                    .footer__header__toggle
                .footer__link__list.collapse.show.footer__content__block.content--hide#collapseThree
                    .footer__item
                        a.footer__link(href="service.html") Коммунальные услуги
                    .footer__item
                        a.footer__link(href="service.html") Юридические услуги
                    .footer__item
                        a.footer__link(href="service.html") Бухгалтерские услуги
                    .footer__item
                        a.footer__link(href="service.html") Дополнительные услуги dfkjghdfkjbg dfgjhfdjkghdfkj dfkjgdfjgkj dfgjkdfkjhg dfjkg
                    .footer__item
                        a.footer__link(href="service.html") Техническая эксплуатация
                    .footer__item
                        a.footer__link(href="service.html") Ремонтное обслуживание
                    .footer__item
                        a.footer__link(href="service.html") Аварийное обслуживание
                    .footer__item
                        a.footer__link(href="service.html") Благоустройство и клининг
                .footer__content__toggle(data-content="#collapseThree") Показать все

            .footer__menu__block
                .footer__header(data-target="#collapseFour" data-toggle="collapse" aria-expanded="true") Наши мастера
                    .footer__header__toggle
                .footer__link__list.collapse.show.footer__content__block.content--hide#collapseFour
                    .footer__item
                        a.footer__link(href="masters-single.html") Бухгалтер
                    .footer__item
                        a.footer__link(href="masters-single.html") Юрист
                    .footer__item
                        a.footer__link(href="masters-single.html") Электрик
                    .footer__item
                        a.footer__link(href="masters-single.html") Клининг-мастер
                    .footer__item
                        a.footer__link(href="masters-single.html") Сантехник
                    .footer__item
                        a.footer__link(href="masters-single.html") Монтажник кондиционеров
                    .footer__item
                        a.footer__link(href="masters-single.html") Оператор- кузнец
                    .footer__item
                        a.footer__link(href="masters-single.html") Плотник
                    .footer__item
                        a.footer__link(href="masters-single.html") Штукатур
                    .footer__item
                        a.footer__link(href="masters-single.html") Слесарь
                    .footer__item
                        a.footer__link(href="masters-single.html") Водитель
                    .footer__item
                        a.footer__link(href="masters-single.html") Газосварщик
                    .footer__item
                        a.footer__link(href="masters-single.html") Сантехник
                .footer__content__toggle(data-content="#collapseFour") Показать все

            .footer__menu__block.footer__menu__contacts
                .footer__header Контакты
                .footer__contacts Санкт-Петербург, Кушелевская дорога, дом 3, корпус 3, литера А, помещение 1-Н, комн. 6
                a.footer__feedback(data-toggle="modal" data-target="#feedbackModal") Заявка в диспетчерскую

        .footer__separate

        .footer__tablet.d-block.d-sm-flex
            .footer__tablet__left Установите наше приложение
            .footer__tablet__right
                a.icon-download(href="https://play.google.com/store/apps/details?id=ru.lsr.android" target='_blank')
                    img(src='assets/image/icon-playmarket.svg')
                a.icon-download(href="https://apps.apple.com/ru/app/%D0%BB%D1%81%D1%80/id1474955418" target='_blank')
                    img(src='assets/image/icon-appstore.svg')


        .footer__separate

        .footer__bottom
            .footer__copyright © 2020, ООО «Управляющая Компания “Эталон Сервис”»
            a.footer__link(href="#") Политика обработки данных

    #toTop.btn_toTop
        +svg('arrow-top', 'btn_toTop__arrow')



