.infoblock__icon__list.pt-2.d-custom-md-none
    .infoblock__icon__item
        +svg('peoples', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Собственников
            .infoblock__icon__val.mt-1 34457
    .infoblock__icon__item
        +svg('houses', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Домов в управлении
            .infoblock__icon__val.mt-1 43
    .infoblock__icon__item
        +svg('metres', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Квадратных метров
            .infoblock__icon__val.mt-1 842 318
    .infoblock__icon__item
        +svg('employers', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Сотрудников
            .infoblock__icon__val.mt-1 456