.infoblock__icon__list.pt-2
    .infoblock__icon__item.infoblock__icon__item--main
        +svg('houses', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title в составе управляющей компании
            .infoblock__icon__val.mt-1 43
    .infoblock__icon__item.infoblock__icon__item--main
        +svg('metres', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title площади в управлении
            .infoblock__icon__val.mt-1 842 318
    .infoblock__icon__item.infoblock__icon__item--main
        +svg('employers', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title сотрудников работают в 12 подразделениях
            .infoblock__icon__val.mt-1 456