.infoblock__icon__list.pt-2
    .infoblock__icon__item
        +svg('peoples', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Собственников
            .infoblock__icon__value.mt-1 347
    .infoblock__icon__item
        +svg('metres', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Квадратных метров
            .infoblock__icon__value.mt-1 84318
    .infoblock__icon__item
        +svg('employers', 'infoblock__icon__img')
        .infoblock__icon__content
            .infoblock__icon__title Сотрудников
            .infoblock__icon__value.mt-1 45