//.slider--mobile.news__list.mb-0.mt-5.news__list--grid

    .slider__item.news__item.news__item--large
        .news__image
            a(href="news-single.html")
                img(src="assets/images/news-min-1.png")
        .news__content
            a(href="news-single.html").news__title С Днем Великой Победы!
            .news__text.mb-2.mt-2 Управляющая компания от всей души поздравляет вас с 75-летием Великой Победы!
            .news__date 8 мая 2020

    .slider__item.news__item
        .news__image
            a(href="news-single.html")
                img(src="assets/images/news-min-2.png")
        .news__content
            a(href="news-single.html").news__title С праздником 1 Мая!
            .news__text.mb-2.mt-2 Дорогие собственники, Управляющая компания искренне поздравляет вас с праздником Весны и Труда – 1 Мая!
            .news__date 1 мая 2020
    .slider__item.news__item
        .news__image
            a(href="news-single.html")
                img(src="assets/images/news-min-2.png")
        .news__content
            a(href="news-single.html").news__title Опрос на сайте Администрации Санкт-Петербурга
            .news__text.mb-2.mt-2 Традиционно в нашем городе проводятся весенний и осенний месячники по благоустройству.
            .news__date 8 мая 2020


.slider--mobile.news__list.mb-0.mt-5.news__list--grid
    .slider__item.news__item
        .news__image
            a(href="news-single.html")
                img(src="assets/images/news-min-1.png")
        .news__content
            a(href="news-single.html").news__title С Днем Великой Победы!
            .news__text.mb-2.mt-2 Управляющая компания от всей души поздравляет вас с 75-летием Великой Победы!
            .news__date 8 мая 2020
    .slider__item.news__item
        .news__image
            a(href="news-single.html")
                img(src="assets/images/news-min-2.png")
        .news__content
            a(href="news-single.html").news__title С праздником 1 Мая!
            .news__text.mb-2.mt-2 Дорогие собственники, Управляющая компания искренне поздравляет вас с праздником Весны и Труда – 1 Мая!
            .news__date 1 мая 2020
    .slider__item.news__item
        .news__image
            a(href="news-single.html")
                img(src="assets/images/news-min-2.png")
        .news__content
            a(href="news-single.html").news__title Опрос на сайте Администрации Санкт-Петербурга
            .news__text.mb-2.mt-2 Традиционно в нашем городе проводятся весенний и осенний месячники по благоустройству.
            .news__date 8 мая 2020

.news__list.mb-0.mt-5.news__list--grid
    .row
        .col-6.news__list__column
            .slider__item.news__item.news__item--large
                .news__image
                    a(href="news-single.html")
                        img(src="assets/images/news-min-1.png")
                .news__content
                    a(href="news-single.html").news__title С Днем Великой Победы!
                    .news__text.mb-2.mt-2 Управляющая компания от всей души поздравляет вас с 75-летием Великой Победы!
                    .news__date 8 мая 2020
        .col-6.news__list__column
            .slider__item.news__item
                .news__image
                    a(href="news-single.html")
                        img(src="assets/images/news-min-2.png")
                .news__content
                    a(href="news-single.html").news__title С праздником 1 Мая!
                    .news__text.mb-2.mt-2 Дорогие собственники, Управляющая компания искренне поздравляет вас с праздником Весны и Труда – 1 Мая!
                    .news__date 1 мая 2020
            .slider__item.news__item
                .news__image
                    a(href="news-single.html")
                        img(src="assets/images/news-min-2.png")
                .news__content
                    a(href="news-single.html").news__title Опрос на сайте Администрации Санкт-Петербурга
                    .news__text.mb-2.mt-2 Традиционно в нашем городе проводятся весенний и осенний месячники по благоустройству.
                    .news__date 8 мая 2020
