.slider--main
    .slider__item
        a(href="#")
            img(src="assets/images/slider-main-1.png" data-src-mobile="assets/images/slider-main-mobile-1.png" data-src-desktop="assets/images/slider-main-1.png")
    .slider__item
        a(href="#")
            img(src="assets/images/slider-main-2.png" data-src-mobile="" data-src-desktop="")
    .slider__item
        img(src="assets/images/slider-main-1.png" data-src-mobile="assets/images/slider-main-mobile-1.png" data-src-desktop="assets/images/slider-main-1.png")

