.slider--tablet.advantage__list.mb-0
    .slider__item.advantage__item
        .advantage__image.mb-3
            a(href="#")
                img(src="assets/images/advantage-min-1.png")
        a(href="#").advantage__title.mb-1 Минимальное время разрешений аварийных ситуаций
        .advantage__content благодаря наличию собственной аварийно-диспетчерской службы и круглосуточных аварийных бригад
    .slider__item.advantage__item
        .advantage__image.mb-3
            a(href="#")
                img(src="assets/images/advantage-min-2.png")
        a(href="#").advantage__title.mb-1 Четкий финансовый контроль
        .advantage__content за оплатой коммунальных услуг и расчетов с поставщиками услуг
    .slider__item.advantage__item
        .advantage__image.mb-3
            a(href="#")
                img(src="assets/images/advantage-min-3.png")
        a(href="#").advantage__title.mb-1 Клиентоориентированность
        .advantage__content через доступность и постоянное общение с собственниками, изучение их нужд и запросов, участие в работе собраний, правлений, советов многоквартирных домов.
