
.slider--desktop.service__card__list.pt-6.pb-6
    .slider__item.service__card__item
        .service__card__item__image.mb-3
            a(href="service.html")
                img(src="assets/images/service-card1.jpg" width=224 height=168)
        a(href="service.html").service__card__item__title.mb-1 Демонтаж унитаза со сливным бачком
        .service__card__item__content.mb-3
            .service__card__item__price.mb-1 2800 ₽
            a.btn.btn-secondary(data-toggle='modal', data-target='#feedbackModal') Заказать
    .slider__item.service__card__item
        .service__card__item__image.mb-3
            a(href="service.html")
                img(src="assets/images/service-card2.jpg" width=224 height=168)
        a(href="service.html").service__card__item__title.mb-1 Установка унитаза типа «Компакт»
        .service__card__item__content.mb-3
            .service__card__item__price.mb-1 2800 ₽
            a.btn.btn-secondary(data-toggle='modal', data-target='#feedbackModal') Заказать
    .slider__item.service__card__item
        .service__card__item__image.mb-3
            a(href="service.html")
                img(src="assets/images/service-card3.jpg" width=224 height=168)
        a(href="service.html").service__card__item__title.mb-1 Установка инсталяции (подвесной унитаз)
        .service__card__item__content.mb-3
            .service__card__item__price.mb-1 2800 ₽
            a.btn.btn-secondary(data-toggle='modal', data-target='#feedbackModal') Заказать
    //.slider__item.service__card__item
        .service__card__item__image.mb-3
            a(href="service.html")
                img(src="assets/images/service-card4.jpg" width=224 height=168)
        a(href="service.html").service__card__item__title.mb-1 Установка инсталяции (подвесной унитаз)
        .service__card__item__content.mb-3
            .service__card__item__price.mb-1 2800 ₽
            a.btn.btn-secondary(data-toggle='modal', data-target='#feedbackModal') Заказать