.slider--tablet.service__list.pt-5.pb-5
    .slider__item.service__item
        .service__item__image.mb-3
            a(href="#")
                img(src="assets/images/service-1.png")
        a(href="#").service__item__title Замена счетчиков водоснабжения
        .label__list
            .label.mt-2 Любые виды счетчиков
    .slider__item.service__item
        .service__item__image.mb-3
            a(href="#")
                img(src="assets/images/service-2.png")
        a(href="#").service__item__title Подключение стиральной машины
        .label__list
            .label.mt-2 За 15 минут
    .slider__item.service__item
        .service__item__image.mb-3
            a(href="#")
                img(src="assets/images/service-3.png")
        a(href="#").service__item__title Прочистка приборов канализации
        .label__list
            .label.mt-2 Профессионально
    .slider__item.service__item
        .service__item__image.mb-3
            a(href="#")
                img(src="assets/images/service-4.png")
        a(href="#").service__item__title Установка нового радиатора
        .label__list
            .label.mt-2 И демонтаж старого
    .slider__item.service__item
        .service__item__image.mb-3
            a(href="#")
                img(src="assets/images/service-5.png")
        a(href="#").service__item__title Подключение интернета
        .label__list
            .label.mt-2 15 провайдеров
