extends _layout
block variables
block title
    title История компании
block content

    .content

        section.content__background
            .content__section.pt-4.pb-4
                .wrapper-inner
                    .content__container__header
                        .content__container__header__left
                            ul.content__container__header__menu.navbar__nav.mb-4
                                li.navbar__item
                                    a.navbar__link(href="about-history.html") История компании
                                li.navbar__item
                                    a.navbar__link(href="news.html") Новости
                                li.navbar__item
                                    a.navbar__link.active(href="about-info.html") Раскрытие информации
                                li.navbar__item
                                    a.navbar__link(href="manuals.html") База знаний
                            h1 История компании
                        .content__container__header__right

        section
            .content__section.pt-6.pb-6
                .wrapper-inner
                    .content__container
                        .content__container__content

                            .docblock__list
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-1 Уведомления о предстоящих ограничениях коммунальных услуг
                                    .docblock__content
                                        include blocks/_docblock-docs-all.pug
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-2 Тарифы на коммунальные услуги
                                    .docblock__content
                                        include blocks/_docblock-docs-all-2.pug
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-3 Результаты проверок
                                    .docblock__content
                                        include blocks/_docblock-docs.pug
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-4 Содержание и ремонт общего имущества
                                    .docblock__content
                                        include blocks/_docblock-docs.pug
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-5 Общая информация об управляющей организации
                                    .docblock__content
                                        include blocks/_docblock-docs.pug
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-6 Показатели финансово-хозяйственной деятельности
                                    .docblock__content
                                        include blocks/_docblock-docs.pug
                                .docblock__item.pb-4
                                    h2.docblock__title.h3.mb-4#nav-item-7 Лицензии и свидетельства
                                    .docblock__content
                                        include blocks/_docblock-docs.pug


                        .content__container__sidebar
                            .content__container__sidebar--fixed
                                #nav-content.nav-content
                                    a.list-group-item(href='#nav-item-1') Уведомления о предстоящих ограничениях коммунальных услуг
                                    a.list-group-item(href='#nav-item-2') Тарифы на коммунальные услуги
                                    a.list-group-item(href='#nav-item-3') Результаты проверок
                                    a.list-group-item(href='#nav-item-4') Содержание и ремонт общего имущества
                                    a.list-group-item(href='#nav-item-5') Общая информация об управляющей организации
                                    a.list-group-item(href='#nav-item-6') Показатели финансово-хозяйственной деятельности
                                    a.list-group-item(href='#nav-item-7') Лицензии и свидетельства



