extends _layout
block variables
block title
    title Главная страница
block content

    .content

        .wrapper-inner

            ul
                li
                    a(href="main.html") Главная
                li
                    a(href="gallery.html") Галерея
                ul
                    li
                        a(href="video-list.html") Галерея - Видео
                    li
                        a(href="photo-list.html") Галерея - Фото
                    ul
                        li
                            a(href="photo-single.html") Страница одного фотоальбома
                li
                    a(href="services.html") Услуги
                ul
                    li
                        a(href="service.html") Страница одной услуги
                    li
                        a(href="service-category.html") Страница категории услуги
                li
                    a(href="news.html") Новости
                ul
                    li
                        a(href="news-single.html") Страница одной новости
                    li
                        a(href="news-single-slider.html") Страница одной новости + слайдер
                li
                    a(href="masters.html") Мастера
                ul
                    li
                        a(href="masters-single.html") Страница одного мастера
                    li
                        a(href="masters-single-empty.html") Страница одного мастера (без отзывов)
                li
                    a(href="objects.html") Объекты
                ul
                    li
                        a(href="objects-single.html") Страница одного объекта
                    li
                        a(href="objects-search.html") Объекты - поиск
                li
                    a(href="about-history.html") История компании
                li
                    a(href="about-info.html") Раскрытие информации
                li
                    a(href="manuals.html") База знаний
                ul
                    li
                        a(href="manuals-single.html") База знаний - одна страница
                    li
                        a(href="manuals-search.html") База знаний - поиск
                li
                    a(href="contacts.html") Контакты
                li
                    a(href="personaldata.html") Соглашение на обработку персональных данных
                li
                    a(href="search.html") Поиск
                ul
                    li
                        a(href="search-hint.html") Поиск со статичной подсказкой
                li
                    a(href="styleguide.html") Styleguide

