extends _layout
block variables
block scripts
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=faa3877b-aaa5-40ba-99a2-e0e2e5269e5d")
    <script>var mapObjects = [{"lat": 59.9174, "lng": 29.6377, "image": "assets/images/obj-1.png", "href": "objects-single.html", "linkmap": "#linkMap1", "title": "ЖК «Цивилизация»", "adreses": [{"text": "Дальневосточный пр., д.25, корп.1"}, {"text": "Дальневосточный пр., д.27, корп.3"}, {"text": "ул. Архивная, д.11, корп.3"}, {"text": "Дальневосточный пр., д.27, корп.3"}, {"text": "ул. Архивная, д.11, корп.3"}]}, {"lat": 59.9452, "lng": 30.2633, "image": "assets/images/obj-1.png", "href": "objects-single.html", "linkmap": "#linkMap2", "title": "NEO", "adreses": [{"text": "Дальневосточный пр., д.25, корп.1"}, {"text": "Дальневосточный пр., д.27, корп.3"}, {"text": "ул. Архивная, д.11, корп.3"}]}, {"lat": 59.9155, "lng": 30.3464, "image": "assets/images/obj-1.png", "href": "objects-single.html", "linkmap": "#linkMap3", "title": "ЖК NEO", "adreses": [{"text": "Дальневосточный пр., д.25, корп.1"}, {"text": "ул. Архивная, д.11, корп.3"}]}, {"lat": 59.9765, "lng": 30.4299, "image": "assets/images/obj-1.png", "href": "objects-single.html", "linkmap": "#linkMap4", "title": "Цивилизация", "adreses": [{"text": "Дальневосточный пр., д.25, корп.1"}, {"text": "Дальневосточный пр., д.27, корп.3"}, {"text": "ул. Архивная, д.11, корп.3"}, {"text": "Дальневосточный пр., д.27, корп.3"}]}, {"lat": 59.9137, "lng": 30.3466, "href": "objects-single.html", "linkmap": "#linkMap5", "title": "Цивилизация"}, {"lat": 59.9426, "lng": 30.2782, "image": "assets/images/obj-1.png", "linkmap": "#linkMap6", "title": "ЖК NEO"}, {"lat": 59.9339, "lng": 30.3685, "image": "assets/images/obj-1.png", "href": "objects-single.html", "linkmap": "#linkMap7", "title": "Цивилизация", "adreses": [{"text": "Дальневосточный пр., д.25, корп.1"}, {"text": "Дальневосточный пр., д.27, корп.3"}, {"text": "ул. Архивная, д.11, корп.3"}]}, {"lat": 59.9280, "lng": 30.4324, "image": "assets/images/obj-1.png", "href": "objects-single.html", "linkmap": "#linkMap8", "title": "Цивилизация", "adreses": [{"text": "Дальневосточный пр., д.25, корп.1"}, {"text": "Дальневосточный пр., д.27, корп.3"}, {"text": "ул. Архивная, д.11, корп.3"}]}];</script>
    <script>var mapSpecial = {"lat": 59.9568, "lng": 30.3451, "href": "contacts.html"};</script>
    script(src="assets/js/map.js")
block title
    title Объекты
block content

    .content

        section.content__background
            .content__section.pt-4.pb-4
                .wrapper-inner
                    .content__container__header.align-items-start
                        .content__container__header__left
                            h1 Объекты
                        .content__container__header__right

        section
            #map

        section
            .content__section.pt-6.pb-6
                .wrapper-inner

                    form.form-search
                        input(type='hidden' name='action' value='searchObjects')
                        input.form-control.form-control-search.mb-6(type='text' placeholder='Поиск по названию ЖК или улицы')
                        .search-hint.scroll

                    .content__container__header
                        .content__container__header__left
                            h2 Дома в управлении
                        .content__container__header__right
                            input.form-control.form-control-checkbox-sort(type="checkbox")#sortAbc
                            label.p3.color--blue(for="sortAbc") По алфавиту

                    .content__container
                        .content__container__content
                            .object__list.pb-6#listObjects
                                .object__item.mt-5(data-sort="ЖК «Антей»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-1.png")
                                        a(href="#")#linkMap1.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object
                                .object__item.mt-5(data-sort="ЖК «Богемия»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-2.png")
                                        a(href="#")#linkMap2.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object2
                                .object__item.mt-5(data-sort="ЖК «Богемия»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-1.png")
                                        a(href="#")#linkMap3.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object2
                                .object__item.mt-5(data-sort="ЖК «Богемия»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-3.png")
                                        a(href="#")#linkMap4.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object2
                                .object__item.mt-5(data-sort="ЖК «Богемия»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-2.png")
                                        a(href="#")#linkMap5.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object2
                                .object__item.mt-5(data-sort="Кузнечное, 10")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-3.png")
                                        a(href="#")#linkMap6.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object3
                                .object__item.mt-5(data-sort="ЖК «Богемия»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-1.png")
                                        a(href="#")#linkMap7.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object2
                                .object__item.mt-5(data-sort="ЖК «Богемия»")
                                    .object__item__image__container.mb-2
                                        img.object__item__image(src="assets/images/object-2.png")
                                        a(href="#")#linkMap8.geolink.geolink--object Показать на карте
                                    include blocks/objects/_object2
