extends _layout
block variables
block title
    title Услуги
block content

    .content

        section.content__background
            .content__section.pt-4.pb-4
                .wrapper-inner
                    .content__container__header
                        .content__container__header__left
                            h1 Услуги
                        .content__container__header__right



        section
            .content__section.pb-6
                .wrapper-inner
                    include blocks/tabs/_tabs_services


