extends _layout
block variables
block title
    title Видео
block content

    .content

        section.content__background
            .content__section.pt-4.pb-4
                .wrapper-inner
                    .content__container__header
                        .content__container__header__left
                            ul.breadcrumb
                                li
                                    a(href='main.html') Главная
                                li
                                    a(href='gallery.html') Галерея
                                li Видео
                            h1 Видео
                        .content__container__header__right

        section
            .content__section.pt-6.pb-6
                .wrapper-inner
                    .content__container
                        .content__container__content

                            .news__list
                                .news__item.mb-6
                                    .news__image.w-sm-50
                                        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/-dq1vXfXLek" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    .news__content
                                        .news__title С Днем Великой Победы!
                                        .news__text.mb-2.mt-2 Управляющая компания от всей души поздравляет вас с 75-летием Великой Победы!
                                        .news__date 8 мая 2020
                                .news__item.mb-6
                                    .news__image.w-sm-50
                                        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/-dq1vXfXLek" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    .news__content
                                        .news__title С праздником 1 Мая!
                                        .news__text.mb-2.mt-2 Дорогие собственники, Управляющая компания искренне поздравляет вас с праздником Весны и Труда – 1 Мая!
                                        .news__date 1 мая 2020
                                .news__item.mb-6
                                    .news__image.w-sm-50
                                        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/-dq1vXfXLek" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    .news__content
                                        .news__title Опрос на сайте Администрации Санкт-Петербурга
                                        .news__text.mb-2.mt-2 Традиционно в нашем городе проводятся весенний и осенний месячники по благоустройству.
                                        .news__date 8 мая 2020

                                button.btn.btn-primary.mb-6(type='submit') Загрузить еще видео

