.master__item.mt-6
    .master__item__image__container
        a(href="masters-single.html")
            img.master__item__image(src="assets/images/master-3.png")
    .master__item__content
        a.master__item__title(href="masters-single.html") Вера Николаевна Леушева
        p.p3.mt-1 Бухгалтер, Юрист
        .block__subinfo__list
            .block__subinfo.mb-2
                .block__subinfo__title Оценка мастера
                .block__subinfo__content.mt-1
                    .rating__container.mb-1
                        .rating__value 4,2
                        .rating
                            .rating__stars--out
                                +svg('stars', 'rating__stars')
                            .rating__stars--in(style="width: 88%")
                                +svg('stars', 'rating__stars')
                    a(href="#") 10 отзывов
            .block__subinfo
                .block__subinfo__title Мастер работает в
                .block__subinfo__content.mt-1
                    div.mb-1
                        a(href="#") ЖК Цивилизация
                    div.mb-1
                        a(href="#") Народная, д. 53